<div class="jumbotron">
    <h1>Advocate Report API</h1>
    <p class="lead">This is the Advocate Report API endpoint, to access the API use /api/Report on your request.</p>
    <p>@Html.ActionLink("More information...", "Index", "Help", new { area = "" }, null)</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Note</h2>
        <p>You will need to provide the ID of the report you need to pull, and the credentials to access the API</p>
    </div>
</div>
